---
import Layout from "../../../layouts/Layout.astro";
import GlobalStyles from "./GlobalStyles.astro";
import type { BlogPost } from "../../../types/blog";
const { blog_id } = Astro.params;
const API_URL = `${import.meta.env.PUBLIC_API_URL}/blogs/${blog_id}`;

const getBlog = async () => {
  try {
    const response = await fetch(API_URL);
    const { blogs } = await response.json();
    const blog: BlogPost = blogs[0];
    return blog;
  } catch (error) {
    return null;
  }
};
const blog = await getBlog();
---

<Layout title={`${blog?.title}!`}>
  <GlobalStyles />
  <div class="hero__background"></div>

  <div class="blog-content">
    <h1 class="blog-heading">{blog?.title}</h1>
    <div class="social-icons"></div>
    <!-- <img class="heading-img" src={blog.photo_url} alt="" /> -->
    <div
      class="blog-content prose prose-invert prose-a:text-cyan-700 lg:prose-xl"
      set:html={blog?.description}
    />
  </div>
</Layout>

<style>
  .hero__background {
    position: absolute;
    background: url("/hero_ellipse.svg");
    width: 100%;
    height: 109%;
    background-repeat: no-repeat;
    right: 0;
    top: -67px;
    max-width: 797px;
    z-index: -1;
  }
  .social-icons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  .social-icons img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin: 0;
  }
  .blog-heading {
    color: var(--gray-6, #f2f2f2);
    font-family: Montserrat;
    font-size: 39px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .heading-img {
    width: 100%;
    height: 100%;
    max-width: 680px;
    max-height: 347px;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
  }
</style>
<script>
  const linkContainers: NodeListOf<HTMLDivElement> = document.querySelectorAll(
    ".wp-block-embed__wrapper"
  );
  linkContainers?.forEach((link) => {
    if (link.innerText.includes("youtube.com")) {
      const videoId = link.innerText.split("v=")[1];
      const iframe = document.createElement("iframe");
      // tailwind add class w-full
      iframe.width = "100%";

      // iframe.width = "660";
      iframe.height = "315";
      iframe.src = `https://www.youtube.com/embed/${videoId}`;
      iframe.title = "YouTube video player";
      iframe.frameborder = "0";
      iframe.allow =
        "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share";
      iframe.allowfullscreen = true;
      link.replaceWith(iframe);
    }
  });
</script>
