---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Blog/Hero.astro";
import BlogCard from "../../components/Blog/BlogCard.astro";
import ResponsiveCards from "../../layouts/ResponsiveCards.astro";

import type { BlogContent } from "../../types/blog";

const API_URL = import.meta.env.API_URL + "/blogs";

const getBlogs = async () => {
  try {
    const response = await fetch(API_URL);
    const { blogs } = await response.json();
    return blogs as BlogContent[];
  } catch (error) {
    return null;
  }
};

const blogs = await getBlogs();
const firstPost = blogs?.slice(-1)[0];
const blogsWithoutFirstPost = blogs?.filter(
  (blog) => blog.id !== firstPost?.id
);
---

<Layout title="Blog">
  <Hero {...firstPost} />
  <div class="pb-4">
    <ResponsiveCards gap="112px" width="580px">
      {
        blogsWithoutFirstPost?.map((blog) => {
          const { description, id, photo_url, title, post_slug, created_at } =
            blog;
          return (
            <BlogCard
              title={title}
              description={description}
              image={photo_url}
              url={id}
              created_at={created_at}
            />
          );
        })
      }
    </ResponsiveCards>
  </div>
</Layout>
