---
const teams = await Astro.glob("../../content/team/*.md");
---

<section class="our_team mt-32" id="team">
  <div class="our_team_text">
    <div
      class="flex items-center justify-center gap-4 w-full overflow-hidden mb-8"
    >
      <img src="/line.svg" alt=" " class="transform rotate-180" />
      <h2 class="text-2xl uppercase font-semibold">Our team</h2>
      <img src="/line.svg" alt=" " class="max-w-48" />
    </div>
    <p
      class="text-center text-gray-300 font-barlow text-sm font-normal leading-6"
    >
      Meet the Mindplex team – the visionaries behind the future of media.
    </p>
  </div>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4 mt-10"
  >
    {
      teams.map((team) => {
        const { name, position, imageUrl, socialLink, customImageStyle } =
          team.frontmatter;
        return (
          <div class="relative flex flex-col items-center team-card w-96 h-72">
            <img
              src={imageUrl}
              class="about-avatar rounded-2xl max-w-280 w-full h-full object-cover object-center"
              alt={name}
              style={customImageStyle}
            />
            <div class="absolute bg-gradient-to-tr from-[#FFEDED] to #fff h-[86px] backdrop-blur-md w-full bottom-0 z-10 rounded-lg p-4" >

            <div class="absolute bottom-5 z-20 flex flex-col justify-start items-start ">
              <p class="name text-xl text-black font-semibold">{name}</p>
              <p class="position text-xs text-black font-normal mt-2">
                {position}
              </p>
            </div>
          </div>
          </div>
          
        );
      })
    }
  </div>
</section>
