---
const teams = await Astro.glob("../../content/team/*.md");
---

<section class="our_team my-32" id="team">
  <div class="our_team_text">
    <div
      class="flex items-center justify-center gap-4 w-full overflow-hidden mb-8"
    >
      <img src="/line.svg" alt=" " class="transform rotate-180" />
      <h2 class="text-lg min-w-fit md:text-4xl uppercase font-semibold">
        Our team
      </h2>
      <img src="/line.svg" alt=" " class="max-w-48" />
    </div>
    <p
      class="text-center text-gray-300 font-barlow text-sm md:text-2xl font-normal leading-6"
    >
      Meet the Mindplex team – the visionaries behind the future of media.
    </p>
  </div>
  <div
    class="grid grid-cols-1 mt-10 gap-x-8 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 lg:gap-x-12 gap-y-8"
  >
    {
      teams.map((team) => {
        const { name, position, imageUrl, socialLink, customImageStyle } =
          team.frontmatter;
        return (
          <div class="relative flex flex-col items-center team-card  md:w-84 xl:w-96 h-72 transition-all ease-in-out duration-300">
            <img
              src={imageUrl}
              class="about-avatar rounded-2xl max-w-280 w-full h-full object-cover object-center"
              alt={name}
              style={customImageStyle}
            />

            <div class="bottom-0 absolute backdrop-blur-xlll rounded-2xl h-[86px] w-full transition-all ease-in-out duration-300">
              <div class="p-6 text-black">
                <p class="name text-xl text-black font-semibold">{name}</p>
                <p class="position text-xs text-black font-normal mt-2">
                  {position}
                </p>
                <div class="mt-3">
                  <a target="_blank" href={socialLink} class="cursor-pointer">
                    <img
                      src="https://magazine.mindplex.ai/wp-content/plugins/mp-general/public/assets/linkedin.svg"
                      alt="Linkedin"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        );
      })
    }
  </div>
</section>

<style>
  .backdrop-blur-xlll {
    -webkit-mask-image: url("/icons/slider_mask.svg");
    mask-image: url("/icons/slider_mask.svg");
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background: rgba(255, 237, 237, 0.37);
  }
  .team-card:hover .backdrop-blur-xlll {
    height: 80%;
  }
</style>
